*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer,
header,
nav,
section,
main {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

h1 {
  font-size: 30px;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  color: #FFFFFF; }

p {
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  margin-bottom: 20px;
  line-height: 1.2; }

body {
  display: flex;
  justify-content: center; }

table {
  border-collapse: separate;
  border-spacing: 50px 30px;
  margin: -30px -50px; }

.first-row {
  height: 170px;
  background-image: url("/Task-2/images/spices.png");
  background-size: auto 170px;
  background-repeat: repeat; }

.spices {
  background-color: #CDAD00;
  padding: 25px 10px 30px 10px;
  width: 300px;
  vertical-align: top; }
  .spices p span {
    font-style: italic;
    font-weight: bold; }
  .spices ul {
    margin-left: 40px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 20px; }
    .spices ul li {
      list-style-type: square; }
    .spices ul ul {
      margin-bottom: 0; }
    .spices ul:first-child li {
      list-style-type: circle; }
  .spices a {
    color: #FFFFFF;
    text-align: center; }
    .spices a:hover {
      color: #000000; }
    .spices a p {
      text-align: center;
      margin-bottom: 0; }

.production {
  background-color: #8B7500;
  width: 550px;
  padding: 20px 20px;
  font-family: Arial, sans-serif; }
  .production :last-child {
    margin-bottom: 0; }
  .production p {
    font-size: 16px;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-bottom: 5px; }
  .production table {
    height: auto;
    width: 100%;
    border-collapse: separate;
    border-spacing: 2px;
    border: 1px solid #000000;
    table-layout: auto;
    margin: 0 0 15px; }
    .production table th,
    .production table td {
      border: 1px solid #000000;
      text-align: center;
      padding: 3px; }
  .production span {
    font-size: 14px;
    display: block;
    margin: 0 auto 15px;
    text-align: center; }
    .production span a {
      color: #CDAD00; }
      .production span a:hover {
        color: #000000; }

.spice {
  vertical-align: bottom; }

img {
  width: 153px;
  height: 86px;
  float: right;
  margin: 130px 0 -30px 0; }
