



























@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  .home,
  .movie {
    padding: 3rem 1rem 3rem;
  }

  p {
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
  }

  .movie p {
    font-size: 1.2rem;
    margin-left: 0;
  }

  .container__category,
  .container__movie {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 35.5rem;
    margin-bottom: 2rem;
  }

  .container__movie {
    flex-direction: column-reverse;
    max-width: 100%;
  }

  .container__posts {
    max-width: 35.5rem;
  }

  .router-link li {
    font-size: 1rem;
  }

  textarea {
    width: 100%;
  }

  iframe {
    height: 19rem;
  }
}

@media screen and (max-width: 568px) {
}
