@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
}

#app {
  font-family: "Montserrat";
  background-color: #000000;
  height: 100vh;
}

.home {
  padding-top: 3rem;
  max-width: 64rem;
  margin: 0 auto;
}

h1 {
  color: #ffffff;
  margin: 0 0 3rem;
  font-size: 4.5rem;
  text-align: center;
  font-weight: 600;
}

.home p {
  color: #bd1d02;
  font-size: 1.8rem;
  text-align: center;
  max-width: 30rem;
  margin: 0;
}

.container__category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 55rem;
  margin: 0 auto 3rem;
}

.container__posts {
  max-width: 55rem;
  margin: 0 auto;
}

.v-select {
  max-width: 35.5rem;
  width: 100%;
  background: #ffffff;
  border-radius: 0.5rem;
}

.vs__dropdown-toggle {
  padding: 0.2rem 0.1rem;
}

.router-link {
  text-decoration: none;
  color: #ffffff;
}

.router-link li {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.router-link li:hover {
  color: #bd1d02;
}

.icon {
  margin-right: 0.5rem;
}

.container__posts ul {
  padding: 0;
}

.container__posts ul li {
  list-style-type: none;
  max-width: max-content;
}

@media screen and (max-width: 1024px) {
  .container__category, .container__posts {
    max-width: 40rem;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  .home {
    padding: 3rem 1rem 0;
  }

  .home p {
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
  }

  .container__category {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 35.5rem;
    margin-bottom: 2rem;
  }

  .container__posts {
    max-width: 35.5rem;
  }

  .router-link li {
    font-size: 1rem;
  }
}

@media screen and (max-width: 568px) {
}
