
body {
  display: flex;
  justify-content: center;
}
table {
  border-collapse: separate;
  border-spacing: 50px 30px;
  margin: -30px -50px;
}

.first-row {
  height: 170px;
  background-image: $background-img;
  background-size: auto 170px;
  background-repeat: repeat;
}

.second-row {
  height: 400px;
}

.spices {
  background-color: $gold-light;
  padding: 25px 10px 30px 10px;
  width: 300px;
  vertical-align: top;
}

ul {
  margin-left: 40px;
  font-family: $font-family-arial;
  font-size: $font-size-base;
  margin-bottom: 20px;

  li {
    list-style-type: square;
  }

  ul {
    margin-bottom: 0;
  }

  &:first-child {
    li {
      list-style-type: circle;
    }
  }
}

p span {
  font-style: italic;
  font-weight: bold;
}

a {
  color: $white;
  text-align: center;

  &:visited {
    color: $white;
  }

  &:hover {
    color: $black;
  }

  p {
    text-align: center;
    margin-bottom: 0;
  }
}

.production {
  background-color: $gold-dark;
  width: 550px;
  padding: 20px 20px;
  font-family: $font-family-arial;

  :last-child {
    margin-bottom: 0;
  }

  p {
    font-size: $font-size-base;
    text-align: center;
    font-family: $font-family-arial;
    margin-bottom: 5px;
  }

  table {
    height: auto;
    width: 100%;
    border-collapse: separate;
    border-spacing: 2px;
    border: 1px solid $black;
    table-layout: auto;
    margin: 0 0 15px;

    th,
    td {
      border: 1px solid $black;
      text-align: center;
      padding: 3px;
    }
  }

  span {
    font-size: $font-size-small;
    display: block;
    margin: 0 auto 15px;
    text-align: center;

    a {
      color: $gold-light;

      &:hover {
        color: $black !important;
      }

      &:visited {
        color: $gold-light;
      }
    }
  }
}

.spice {
  vertical-align: bottom;
  margin-bottom: -30px;
}

img {
  width: 153px;
  height: 86px;
  float: right;
  margin: 130px 0 -30px 0;
}